body {
    margin:0;
    background:#000;
    color:#fff;
    font-family:Inter, sans-serif;
}

#support-wrapper {
    max-width:650px;
    margin:50px auto;
    background:#0d0d0d;
    padding:40px;
    border-radius:14px;
    border:1px solid #222;
    box-shadow:0 0 18px rgba(212,175,55,0.18);
}

.title {
    color:#d4af37;
    font-size:26px;
    font-weight:900;
    margin-bottom:20px;
}

.text {
    line-height:1.6;
    font-size:17px;
    margin-bottom:25px;
}

.label {
    display:block;
    margin-bottom:6px;
}

input {
    width:100%;
    padding:14px;
    font-size:17px;
    border-radius:10px;
    border:1px solid #333;
    background:#0c0c0c;
    color:#fff;
    margin-bottom:25px;
}

button {
    width:100%;
    padding:16px;
    font-size:18px;
    border:0;
    border-radius:12px;
    background:#d4af37;
    font-weight:700;
    cursor:pointer;
}

button:hover {
    background:#c29727;
}
