body {
  background:#000;
  color:#d4af37;
  margin:0;
  font-family:Arial;
}

header {
  padding:25px;
  text-align:center;
  border-bottom:1px solid #d4af37;
}

#filter {
  margin-top:20px;
  padding:10px;
  width:240px;
  border:1px solid #d4af37;
  background:#111;
  color:#d4af37;
}

.box {
  max-width:1100px;
  margin:30px auto;
  padding:20px;
  background:#111;
  border:1px solid #d4af37;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  border:1px solid #d4af37;
  padding:10px;
  text-align:center;
}
