.notif-box{padding:25px; background:#050608; border:2px solid #25283a; color:#f4c857;}
.notif-title{font-size:28px; font-weight:800; color:gold; margin-bottom:18px;}
.notif-item{margin-bottom:22px;}
.notif-wa{ background:#00e676; padding:10px 14px; border-radius:8px; display:inline-block; color:black; font-weight:700;
} 
